hr.new1 {
    border-top: 7px solid rgb(255, 255, 255);
  }

.color{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color:white;
    padding: 20px 20px 200px;
    align-items: center;
  } 